.main{
    display: flex;
}

.first{
    width: 24.5%;
    height: 50vh;
    margin: 0 auto;
    background-color:lightblue;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}
.second{
    width: 24.5%;
    height: 50vh;
    background-color: lightcoral;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}

.third{
    width: 24.5%;
    height: 50vh;
    background-color:lightslategray;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}

.forth{
    width: 24.5%;
    height: 50vh;
    background-color: lightgreen;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}
p{
    padding:10px;
}


.f{
    display:flex;
    width: 90%;
    height: 200px;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}


/* ======================== Medium & large screen responsive =============================== */

@media only screen and (max-width: 800px) {

   
.main{
    flex-wrap: wrap;
}

.first{
    width: 48%;
    height: 50vh;
    margin: 0 auto;
    background-color:lightblue;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}
.second{
    width: 48%;
    height: 50vh;
    background-color: lightcoral;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}

.third{
    width: 48%;
    height: 50vh;
    background-color:lightcyan;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}

.forth{
    width: 48%;
    height: 50vh;
    background-color: lightgreen;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}
.f{
    display:flex;
    width: 49%;
    height: 200px;
    justify-content: center;
    align-items: center !important;
    margin-top: 10px !important;
    margin:0 auto;
}
    img{
        transition-property: transform ;
        transition-duration: 1s;
    }
    img:hover{
        transform: scale(1.3);
    }

    .f{
        overflow: hidden;
    }
}

/* ======================== Small screen responsive =============================== */

@media only screen and (max-width: 500px) {

   
    .main{
        flex-wrap: wrap;

    }
    
    .first{
        width: 98%;
        height: 50vh;
        margin: 0 auto;
        background-color:lightblue;
        justify-content: center;
        align-items: center !important;
        margin-top: 10px !important;
        margin:0 auto;
    }
    .second{
        width: 98%;
        height: 50vh;
        background-color: lightcoral;
        justify-content: center;
        align-items: center !important;
        margin-top: 10px !important;
        margin:0 auto;
    }
    
    .third{
        width: 98%;
        height: 50vh;
        background-color:lightcyan;
        justify-content: center;
        align-items: center !important;
        margin-top: 10px !important;
        margin:0 auto;
    }
    
    .forth{
        width: 98%;
        height: 50vh;
        background-color: lightgreen;
        justify-content: center;
        align-items: center !important;
        margin-top: 10px !important;
        margin:0 auto;
    }


    .f{
        display:flex;
        width: 90%;
        height: 200px;
        justify-content: center;
        align-items: center !important;
        margin-top: 10px !important;
        margin:0 auto;
    }


/* increasing image size when mouse hover */
        img:hover{
            transform: scale(1.5);
        }
    
    }