

html {
  font-family: "Poppins";
}

                               /*======================= section-1======================== */



.bg-body-tertiary  {
  background-color:#ffde59 !important;
}

.logo{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.navbar-default {
  background: #ffde59!important;
}

 /* Container holding the image and the text */
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;      /* Hide overflowing text */
}

/* Text overlay styling */
.text-overlay {
  position: absolute;
  bottom:0;
  left: 0;
  background-color: transparent;
  padding: 8px;
  width: 100%;
}

/*================================================ MEDIA QUERY======================================== */


/*================================================ Media query : small devices (mobile)======================================== */
@media screen and (min-width: 300px) and (max-width: 799px) {
  .flex {
    flex-direction: column;
    justify-content: center;
  }
  img{
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    

  }
  .text-justify{
    text-align:center;
  }

  .image-justify{
    justify-content:center;
  }
  
}


/*================================================ Media query : medium screens======================================= */

@media screen and (min-width: 800px) and (max-width: 999px) {
  .flex {
    flex-direction: row;
    justify-content: center;
  }

  img{
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
  }
  .text-justify{
    text-align: left;
  }
  .image-justify{
    justify-content:right;
  }
}

  

/*================================================ Media query : large screens======================================= */

@media screen and (min-width: 1000px) and (max-width: 4000px) {
  .flex {
    flex-direction: row;
    justify-content: center;
  }
}


@media only screen and (min-width: 1024px) {
/* Adjust font sizes and spacing for larger screens */

/* Example: Adjust the width of the buttons in the first section for large screens */

.flex{
  display: flex;
  flex-direction: row;
}

img{
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
.text-justify{
  text-align: left;
}
.image-justify{
  justify-content:right;
  
}
}
